* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

body {
	width: 1000px;
	font-size: 12px;
	font-family: "Arial Rounded MT Bold", Arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

/* body {	font-size: 12px;	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;	 background-color:#dfe8f6;min-width:1250px } */
#header { /* background-color:#dfe8f6; */
	width: 100%;
}

#sidebar {
	font-family: Dotum;
	font-size: 15px;
	width: 250px;
	margin-left: 2px;
	float: left;
	position: relative;
	border: 1px solid #4297d7;
}

#content {
	margin-left: 257px;
	/* float:left; */
	font-size: 12px;
	position: relative;
	min-height: 550px;
	overflow: hidden;
}

#content_index {
	overflow: hidden;
	position: relative;
	min-height: 550px;
}

#footer {
	clear: both;
	float: left;
	text-align: center;
	/* border-top: 1px solid #79b7e7; */
	margin-top: 3px;
	padding: 10px 0 10px 0;
	width: 100%
}


/* font */
#font_Arial {
	font-size: 9px;
	font-family: "Arial Rounded MT Bold", Arial, sans-serif;
}

#font_blue {
	color: blue;
}

#font_godic {
	font-size: 11px;
	font-family: "휴먼고딕", 한컴돋움;
}


#header_logo { /* float: left; */
	/* margin-top: 30px;
	margin-left: 20px; */
	
}

#header_menu {
	text-align: right;
	font-size: 15px;
	/*margin-top: 60px;
	margin-right: 10px; */
	background-color: gray;
	float: left;
}



/* event menu */



/*
ul#topnav {
	margin: 0; padding: 0;
	list-style: none;
	position: relative;
	font-size: 10px;
	float: right;
	
}
ul#topnav li {
	float: right;
	padding: 0px 30px 0px 30px;
	color: black;
	
}
ul#topnav li a {
	padding: 10px 15px;
	display: block;
	color: black;
	text-decoration: none;	
}
ul#topnav li:hover { background: #1376c9 url (/resources/images/topnav_a.gif) repeat-x; } 
ul#topnav li span {
	float: right;
	text-align: right;
	padding: 5px 10px 5px 10px;
	position: absolute;
	left: 0; top:30px;
	display: none;
	background: #1376c9;
	color: #fff;

}
*/
ul#topnav {
	margin: 0; padding: 0;
	float: right;
	width: 650px;
	list-style: none;
	position: relative;
	font-size: 1.2em;
}
ul#topnav li {
	float: right;
	padding: 3px 0px 3px 0px;
	/* border-right: 1px solid #555; */
}
ul#topnav li a {
	padding: 0px 15px 0px 15px;
	display: block;
	color: #f0f0f0;
	text-decoration: none;
	color: black;
}
ul#topnav li:hover { background: #1376c9 url (/resources/images/topnav_a.gif) repeat-x; }
ul#topnav li span {
	float: right;
	padding: 5px 0;
	position: absolute;
	left: 0; top: 20px;
	display: none;
	width: 650px;
	text-align: right;
	background: #1376c9;
	color: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
ul#topnav li:hover span { display: block; }
ul#topnav li span a { display: inline; }
ul#topnav li span a:hover {text-decoration: underline;}
