* {margin:0px; padding:0px; }
ul, ol, li {list-style:none; }
a {text-decoration: none; color:#000000;}
body {
	font-size: 12px;
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
	/* background-color:#dfe8f6; */
	min-width:1250px
}

#header {
	background-color:#dfe8f6;
	width:100%;
}
#sidebar {
	background-color: #ffffff;
	font-family: Dotum;
	font-size: 15px;
	width:250px;
	margin-left:2px;
	float:left;
	position: relative;
	border: 1px solid #4297d7; 
}
#content {
	background-color:#ffffff;
	border: 1px solid #79b7e7;
	margin-left: 257px;
	/* float:left; */
	font-size: 12px;
	position: relative;
	min-height:750px;
	overflow:hidden; 
}
#footer {
	background-color: #ffffff;
	clear: both;
	float:left;
	text-align: center;
	border-top: 1px solid #79b7e7;
	margin-top:3px;
	padding: 10px 0 10px 0;
	width:100%
}

#login_info{
	float:left;
	position: relative;
	padding: 5px;
}
#qna_info{
	float:right;
	position: relative;
	padding: 5px;
}

#main_menu{
	clear: both;
	margin:3px;
	background: #5c9ccc url(/npms-web/resources/jquery/css/images/ui-bg_gloss-wave_100_5c9ccc_500x100.png) 50% 50% repeat-x; 
	border: 1px solid #4297d7; 
}
#main_menu img {
	float:left;
	position: relative;
	padding: 2px 1px 1px 10px;
}
#main_menu  p {
	float:left;
	position: relative;
	font-size:23px;
	color:#ffffff;
	margin:0px;
	padding:5px 0px 0px 10px;
}
#main_menu p a {
	color:#ffffff;
}
#tab_contents{
	margin-left:255px;
	padding-top:5px;
	position: relative;	
	height:30px;
}
#tab_contents li{
	padding:7px 13px 7px 13px;
	margin-right:4px;
	border: 1px solid #c5dbec; background: #dfeffc url(/npms-web/resources/jquery/css/images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #2e6e9e;
	font-size: 13px; 
	display:inline;	
	float:left;
}
#tab_contents .selected{
	border: 1px solid #79b7e7; background: #f5f8f9 url(/npms-web/resources/jquery/css/images/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #e17009;
}



#content_index {
	background-color: #ffffff;
	border: 1px solid #79b7e7;
	overflow:hidden; 
	position:relative;
	min-height:750px;
}

#notice {
	float: left;
	position:relative;
	margin:3px;
}
#process {
	margin-left:460px;
	margin-top: 3px;
	position:relative;
}
#evalList {
	clear: both;
	float:left;
	margin:3px;
}

#information {
	clear: both;
	float:left;
	margin:3px;
}

/*sidebar*/
#sub_menu {
	 margin:15px;
}
#sub_menu .header { 
	display: block; 
	margin-top:10px; 
	font-size: 15px; 
	font-weight:bold;
	color: #e17009;
	position: relative;
}
#sub_menu .header a{
	color: #e17009;
}
.heardericon{
	width: 16px; 
	height: 16px; 
	background-image: url(/npms-web/resources/jquery/css/images/ui-icons_469bdd_256x240.png);
	background-position: -64px -16px; 
    float: left; 
 	margin-right: .3em;
}
#sub_menu .menu_list {margin-top:10px;}
#sub_menu .menu_list p { 
	margin-top:3px;
	padding: 2px 2px 2px 20px;
	font-size: 13px; 
	display: none;
	
}
#sub_menu .menu_list .selected{ 
	background-color:#FECA40;;
	color:#ffffff;
}
#sub_menu .menu_list .selected a{ 
	color:#ffffff;
	font-weight:bold;
}

/*content*/
#tip {
	margin:10px;
	border:1px solid;
	padding: 10px;
	background-color:#fbec88;
	border-color:#fad42e;
	color:#363636;
	position: relative;
}
#tip span{
	float: left; 
	position: relative;
}
.tipicon{
	width: 16px; height: 16px; background-image: url(/npms-web/resources/jquery/css/images/ui-icons_469bdd_256x240.png);
	background-position: -16px -144px; 
	margin-bottom: 25px;
}
#tip p {
	position: relative;
	margin-left: 20px;
}
.content_description {
	margin-top: 0px;
	background-color: aqua;
	padding: 10px;
}

.content_section {
	margin-top: 30px;
	background-color: green;
	padding: 15px;
}



#header_logo {
	float: left;
	margin-top: 30px;
	margin-left: 20px;
}

#header_menu {
	text-align: right;
	font-size: 15px;
	margin-top: 60px;
	margin-right: 10px;
	float: right;
}

#h1 {
	font-size: 5px;
}

#grid_area {
	margin:10px;
	width:100%; 
	position: relative;
	

}
#grid_area > div {
	margin-top:20px;
}

#grid_area #tree {
	width:800px;
}
.panel-styled {
	margin-top: 50px;
	word-break:normal;
	
}
.panel-styled-font {
	margin-top: 50px;
	font-size: 30px;
	border: 3px outset #C1E0FE;
}
.cell-font {
	font-size: 30px;
	font-style:bold;	
}



