* {
	margin: 0px;
	padding: 0px;
}

ul,ol,li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000000;
}

body {
	width: 1000px;
	font-size: 12px;
	font-family: Arial, "MS Trebuchet", sans-serif;
	margin-left: auto;
	margin-right: auto;
}
/* body {	font-size: 12px;	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;	 background-color:#dfe8f6;min-width:1250px } */
#header { /* background-color:#dfe8f6; */
	width: 100%;
}

#sidebar {
	font-family: Dotum;
	font-size: 15px;
	width: 250px;
	margin-left: 2px;
	float: left;
	position: relative;
	border: 1px solid #4297d7;
}

#content {
	margin-left: 257px;
	/* float:left; */
	font-size: 12px;
	position: relative;
	min-height: 550px;
	overflow: hidden;
}

#content_index {
	overflow: hidden;
	position: relative;
	min-height: 550px;
}

#footer {
	clear: both;
	float: left;
	text-align: center;
	/* border-top: 1px solid #79b7e7; */
	margin-top: 3px;
	padding: 10px 0 10px 0;
	width: 100%
}


/* font */
#font_Arial {
	font-size: 9px;
	font-family: "Arial Rounded MT Bold", Arial, sans-serif;
}

#font_blue {
	color: blue;
}

#font_godic {
	font-size: 11px;
	font-family: "휴먼고딕", 한컴돋움;
}




/*sidebar*/
#sub_menu {
	margin: 15px;
}

#sub_menu .header {
	display: block;
	margin-top: 10px;
	font-size: 15px;
	font-weight: bold;
	color: #e17009;
	position: relative;
}

#sub_menu .header a {
	color: #e17009;
}

.heardericon {
	width: 16px;
	height: 16px;
	background-image:
		url(/npms-web/resources/jquery/css/images/ui-icons_469bdd_256x240.png);
	background-position: -64px -16px;
	float: left;
	margin-right: .3em;
}

#sub_menu .menu_list {
	margin-top: 10px;
}

#sub_menu .menu_list p {
	margin-top: 3px;
	padding: 2px 2px 2px 20px;
	font-size: 13px;
	display: none;
}

#sub_menu .menu_list .selected {
	background-color: #FECA40;;
	color: #ffffff;
}

#sub_menu .menu_list .selected a {
	color: #ffffff;
	font-weight: bold;
}

/*content*/
#tip {
	margin: 10px;
	border: 1px solid;
	padding: 10px;
	background-color: #fbec88;
	border-color: #fad42e;
	color: #363636;
	position: relative;
}

#tip span {
	float: left;
	position: relative;
}

.tipicon {
	width: 16px;
	height: 16px;
	background-image:
		url(/npms-web/resources/jquery/css/images/ui-icons_469bdd_256x240.png);
	background-position: -16px -144px;
	margin-bottom: 25px;
}

#tip p {
	position: relative;
	margin-left: 20px;
}

.content_description {
	margin-top: 0px;
	background-color: aqua;
	padding: 10px;
}

.content_section {
	margin-top: 30px;
	background-color: green;
	padding: 15px;
}

#header_logo { /* float: left; */
	/* margin-top: 30px;
	margin-left: 20px; */
	
}

#header_menu {
	text-align: right;
	font-size: 15px;
	/*margin-top: 60px;
	margin-right: 10px; */
	background-color: gray;
	float: left;
}

#h1 {
	font-size: 5px;
}

#grid_area {
	margin: 10px;
	width: 100%;
	position: relative;
}

#grid_area>div {
	margin-top: 20px;
}

#grid_area #tree {
	width: 800px;
}

.panel-styled {
	margin-top: 50px;
	word-break: normal;
}

.panel-styled-font {
	margin-top: 50px;
	font-size: 30px;
	border: 3px outset #C1E0FE;
}

.cell-font {
	font-size: 30px;
	font-style: bold;
}

/* event menu */
ul.cssMenu,ul.cssMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

/*Style for 1st level menu header*/
ul.cssMenu li {
	position: relative;
	float: left;
	zoom: 1; /*Needed for IE*/
	background: #DDDDDD; /*background color of menu header (1st level)*/
}

ul.cssMenu li:hover {
	background: #AAAAAA
		/*background color of menu header (1st level) on hover*/;
}

ul.cssMenu li a { /*Menu link styles*/
	display: block;
	padding: 5px;
	color: #000000;
	font-family: Arial, Times New Roman, Tahoma;
	font-size: 12px;
}

/* Building menu items - for 2nd and more level menu items*/
ul.cssMenu ul {
	display: none; /*initially menu item is hidden*/
	position: absolute;
	/*absolute positioning is important for menu to float*/
	width: 150px;
	/*Formating of menu items*/
	border: 1px solid #AAAAAA;
	padding: 1px;
	background: #FFFFFF;
	/*optional - to change position of 2nd level menu item*/
	top: 100%;
	left: 0;
}

ul.cssMenu ul li {
	background: #F5F5F5;
	color: #000;
	border-bottom: 1px solid #DDDDDD;
	float: none;
}

ul.cssMenu ul li a {
	width: 100%;
	display: block;
	color: #000000;
}

/* Menu item position for 3rd level and more */
ul.cssMenu ul ul {
	left: 100%;
	top: 0;
}

/* Hover effect for menu*/
ul.cssMenu li:hover>ul {
	display: block;
}

/*

#login_info{
	float:left;
	position: relative;
	padding: 5px;
}
#qna_info{
	float:right;
	position: relative;
	padding: 5px;
}


#notice {
	float: left;
	position:relative;
	margin:3px;
}
#process {
	margin-left:460px;
	margin-top: 3px;
	position:relative;
}
#evalList {
	clear: both;
	float:left;
	margin:3px;
}

#information {
	clear: both;
	float:left;
	margin:3px;
}
*/